---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hi, I'm {identity.firstName}! I live in {identity.country} and work as a{" "}
    {identity.occupation}. I like {identity.hobbies.join(", ")}.
  </p>
  <h2>Skills</h2>
  <ul>
    {skills.map((skill) => (
      <li>{skill}</li>
    ))}
  </ul>
</BaseLayout>
